<li><%= link_to 'Create a restaurant', new_restaurant_path %></li>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
    <li><%= restaurant.address %></li>
    <li><%= restaurant.phone_number %></li>
    <li><%= restaurant.category %></li>

    <li><%= link_to 'Show Restaurant', restaurant %></li>
  <% end %>
</ul>


