<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %></li>
    <li><%= restaurant.address %></li>
    <li><%= restaurant.phone_number %></li>
    <li><%= restaurant.category %></li>

    <li><%= link_to 'Show Restaurant', restaurant %></li>
    <li><%= link_to 'Edit Restaurant', edit_restaurant_path(restaurant) %></li>
    <%= link_to "Delete",
                restaurant_path(restaurant),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>
